.container{
      display: flex;
      justify-content: center;
      width: 100%;
     
  }
  .container input{
        width: 30%;
        height: 4rem;
        border-radius: 0.5rem;
        padding:1rem;
        margin-right: 1rem;
        font-size: 1.2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

       
  }
  .container input:focus{
        outline: none;
  }
  .container input::placeholder{
     color: #303030;
}
  .container button{
        width: 4rem;
  
        height: 4rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
        background-color:var(--color-accent);
        color: #fff;
        overflow: hidden;
        transition: all 0.8s ease;
  }
  .container button svg:hover{
        transform: scale(1.2);
  
  }