.containerContactDetail {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-accent);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.containerContactDetail h2 {
  color: var(--color-accent);
  margin-top: 0;
  font-weight: bold;
  font-size: 24px;
}
.containerContactDetail label {
  margin-right: 0.3rem;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--color-accent); 
}

.containerContactDetail span {
  color: #333;
}
.containerContactDetail p {
  font-size: 1.2rem;
}

.backBtn {
  background-color: var(--color-accent);
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}
.backBtn a {
  color: #fff !important;
}

.backBtn:hover {
  opacity: 0.9;
  box-shadow: var(--color-accent) 0px 7px 20px 0px;
}

.backBtn:active {
  background-color: var(--color-accent);
  opacity: 0.8;
}
