.containerContactDetail {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-accent);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.containerContactDetail h2 {
  color: var(--color-accent);
  margin-top: 0;
  font-weight: bold;
  font-size: 24px;
}
.containerContactDetail label {
  margin-right: 0.3rem;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--color-accent); 
}


.containerContactDetail p {
  font-size: 1.2rem;
}


.actions {
  width: 15rem;
  height: 3.5rem;
  line-height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  padding:  1rem;
  color: #fff;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.actions a {
  color: #fff;
  }
.actions a svg{
margin-right: 1rem;
}

