.container {
  /* kept the standard property for modern browsers */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 0.5rem;
  padding: 0 15rem 4rem;
  gap: 2rem;
  box-sizing: border-box; /* added to include padding in width calculation */
}

@media (max-width: 400px) {
  .container {
    flex-direction: column;
    padding: 0;
    flex-wrap: nowrap;
  }
}

.container input {
  font-size: 1.3rem;
  border: 1px solid var(--color-borders);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  padding: 1rem;
}

.container input:hover {
  opacity: 0.7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container input::placeholder {
  color: #999;
  font-size: 1.3rem;
}

/* Remove the inner shadow in Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container textarea {
  grid-column: 1 / -1;
  height: 10rem;
  padding: 1rem;
  font-size: 1.3rem;
  border: 1px solid var(--color-borders);
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  box-sizing: border-box;
  resize: none;
}

.container textarea:hover {
  opacity: 0.7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container textarea:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container textarea::placeholder {
  color: #999;
  font-size: 1.5rem;
}

.container .addBtn {
  background-color: var(--color-accent);
  margin: 0 auto;
  grid-column: 1 / -1;
  color: #fff;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container .addBtn:hover {
  opacity: 0.9;
  box-shadow: var(--color-accent) 0px 7px 20px 0px;
}

.container .addBtn:active {
  background-color: var(--color-accent);
  opacity: 0.8;
}
.container .inputErrors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
