.contactItem {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.containerContactInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contactInfoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

}

.avatarWrapper{

  width: 4rem;
  height: 4rem;  
  overflow: hidden;
  border-radius: 50%;  overflow: hidden; 
  background-color: #DDDDDD; 
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
  border: 2px solid #fff;


}
.telephoneContainer{
  background-color:#DDDDDD;
  text-align: center;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.contactInfo {
  flex: 1;
  padding-left: 1rem;
}

.contactInfo h3 {
  margin-top: 0;
  font-weight: bold;
  color: #333;
}

.contactInfo p {
  margin-bottom: 10px;
  color: #666;
}
.actions {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.actions button {
  background-color: var(--color-accent);
  color: #fff;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.actions .editBtn:hover {
  background-color: #64d47c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.actions .deleteBtn:hover {
  background-color: #e67e73;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* .actions .favoriteBtn svg:hover {
  background-color: none;
  color: #e67e73;
} */

.telephone {
  font-size: 1.2rem;
}

.telephone a {
  text-decoration: none;
  color: #337ab7;
  margin-left: 0.5rem;
}

.telephone a:hover {
  color: #23527c; /* make the link change color on hover */
}

.alertContainer {
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #303030;
}
.checkBoxContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.confirmMessage{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}

.confirmMessage .actionBtns{
  display: flex;
  gap: 0.5rem;  

}
.confirmMessage button{
  color: #fff;
  border: none;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.actionBtns button:first-child{
  background-color:#e67e73 ;
}
.actionBtns button:first-child:hover {
  box-shadow: #c2c1c1 0px 7px 20px 0px;
}
.actionBtns button:last-child{
  background-color:#DDDDDD;
}
.actionBtns button:last-child:hover {
  box-shadow: #c2c1c1 0px 7px 20px 0px;
}