:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: #242424;
  --color-primary: #303030;
  --color-accent: #8bc34a;
  --color-bg: #f7f7f7;
  --color-borders: #eaeaea;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* body {
  margin: auto;
  max-width: 1000px;
  position: relative;
  min-height: 100vh;
} */
body {
  margin: auto;
  max-width: 1000px;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* main {
  flex: 1;
} */

main{
  margin-bottom:6rem ;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.boxShadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
